.userContainer {
    background: white;
    max-width: 100%;
    height: 100%;
    color: #2370f4;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 130px;
    padding-right: 20px;
    .userTitle {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e9e9e9;
        padding-bottom: 20px;
        h3 {
            color: #2370f4;
            margin-bottom: 0;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 42px;
        }
        button {
            background: #2370f4;
            color: white;
            border: none;
            padding: 10px 20px;
            font-weight: bold;
            border: 2px solid #2370f4;
            border-radius: 6px;
            transition: all 0.5s;
            &:hover {
                cursor: pointer;
                background: white;
                color: #2370f4;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .userTableWrapper {
        position: relative;
        margin: 40px 0;
        height: 550px;
        padding: 30px;
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
        .sortAndSearch {
            display: flex;
            justify-content: space-between;
            .dropdownButton {
                background: #2370f4;
                color: white;
                padding: 0.375rem 0.75rem;
                border: none;
                height: 38px;
                font-weight: bold;
                border-radius: 6px;
                &::after {
                    display: none;
                }
                &:hover {
                    cursor: pointer;
                }
                &:focus {
                    outline: none;
                }
            }
            .dropdownContent {
                p {
                    font-weight: bold;
                    transition: all 0.5s;
                    &:hover {
                        cursor: pointer;
                        background: #2370f4;
                        color: white;
                    }
                }
            }
            .search {
                .formSearch {
                    position: relative;
                }
                input {
                    padding-left: 30px;
                }
                i {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    top: 13px;
                    left: 10px;
                }
            }
        }
        .tableUser {
            margin: 20px 0;
            table {
                thead {
                    background: #2370f4;
                    color: white;
                }
                tbody {
                    th,
                    td {
                        color: black;
                    }
                    .update,
                    .delete {
                        background: white;
                        border: none;
                        border: 2px solid #ff9f00;
                        padding: 5px 10px;
                        color: #ff9f00;
                        border-radius: 6px;
                        font-weight: bold;
                        transition: all 0.5s;
                        &:hover {
                            background: #ff9f00;
                            color: white;
                            cursor: pointer;
                        }
                        &:focus {
                            outline: none;
                        }
                    }
                    .delete {
                        border: 2px solid red;
                        color: red;
                        &:hover {
                            background: red;
                        }
                    }
                }
            }
        }
        .paginateGroup {
            position: absolute;
            margin: 20px 0;
            p {
                margin-bottom: 0;
                color: #68728c;
            }
            bottom: 0;
            right: 30px;
            button {
                background: white;
                margin-right: 10px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: none;
                outline: none;
                border: 2px solid #2370f4;
                color: #2370f4;
                font-weight: bold;
                transition: all 0.5s;
                &:hover {
                    cursor: pointer;
                    background: #2370f4;
                    color: white;
                }
            }

            .activeClassName {
                background: #2370f4;
                color: white;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .tableUserMobile {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .userContainer {
        padding-left: 20px;
        .userTitle {
            padding-bottom: 10px;
            h3 {
                font-size: 25px;
            }
            button {
                padding: 5px 10px;
            }
        }
        .userTableWrapper {
            padding: 15px;
            height: 700px;
            .sortAndSearch {
                .search {
                    width: 70%;
                    padding-left: 10px;

                   
                }
            }
            table {
                display: none;
            }
            .paginateGroup{
              right:10px;
            }
        }
        .tableUserMobile {
            display: block;
            .userWrapper {
                border: 1px solid #e9e9e9;
                margin-bottom: 10px;
                border-radius: 6px;
            }
            .userInfoContainer {
                display: flex;
               padding-top: 10px;
                p{
                    margin-bottom: 10px;
                }
                .userImage {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px;
                    img {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        object-fit: contain;
                    }
                }
                .userInfo {
                    padding-left: 10px;
                    flex-grow: 1;
                }
            }
            .userManageButton{
                display: flex;
                justify-content: flex-end;
                border-top: 1px solid #e9e9e9;
                padding:10px 0;
                .update,
                .delete {
                    background: #ff9f00;
                    border: none;
                    border: 2px solid #ff9f00;
                    padding: 5px 10px;
                    color: white;
                    border-radius: 6px;
                    font-weight: bold;
                    transition: all 0.5s;
                  
                    &:focus {
                        outline: none;
                    }
                }
                .delete {
                    background: red;
                    border: 2px solid red;
                    color: white;
                  
                }
            }
        }
    }
}

@media screen and(min-width:577px) and(max-width:768px) {
    .userContainer {
        padding-left: 20px;
    }
    
}
